asttokens==3.0.0
Django==5.1.5
django-environ==0.12.0
djangorestframework==3.15.2
exceptiongroup==1.2.2
executing==2.2.0
fastjsonschema==2.21.1
fonttools==4.29.1
fqdn==1.5.1
fs==2.4.12
future==0.18.2
gast==0.5.2
GDAL==3.4.1
gunicorn==23.0.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.20.2
httpx==0.28.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-gnupg==0.4.8
python-json-logger==3.2.1
python-magic==0.4.24
python-xlib==0.29
